@font-face {
    font-family: 'Minecraftia';
    src: url('/fonts/minecraftia.ttf') format('truetype');
}

.motd-box {
    @apply bg-[#121212] text-left inline-block p-2 rounded select-text;
    font-family: 'Minecraftia', sans-serif;
}
