.icon-and-name {
  @apply flex items-center justify-center;
}

.avatar {
  @apply rounded-full;
}

.user-info {
  @apply text-left;
}

.discord-name {
  @apply text-2xl font-semibold;
}

.discord-status {
  @apply text-base text-green-300;
}

.activty-card {
  @apply bg-[#2e2e2e] p-4 rounded-lg mt-4;
  @apply text-left;
}

.activty-title {
  @apply text-xl font-bold mb-2;
}

.activty-info {
  @apply block gap-4;
}

.album-art {
  @apply rounded-lg;
}

.spotify-details {
  @apply text-white;
}

.spotify-song {
  @apply text-lg font-semibold;
}

.spotify-artist,
.spotify-album {
  @apply text-sm text-gray-300;
}

.activities-list {
  @apply list-disc pl-5;
}

.activity-item {
  @apply relative mt-4 border-b border-gray-600 pb-2 last:border-none whitespace-nowrap overflow-auto;
}

.activity-icons {
  @apply flex items-center;
}

.small-activity-image {
  @apply absolute w-9 h-9 rounded-[50%];
  left: 70px;
  top: 70px;
  z-index: 1;
  border: 2px solid #2e2e2e;
}

.large-activity-image {
  @apply w-[100px] h-[100px] rounded-[10%] mr-2;
}

.activity-name {
  @apply text-lg font-semibold;
}

.activity-details {
  @apply text-sm;
}

.activity-time {
  @apply text-xs font-bold text-green-500;
}
