@import "tailwindcss";

body {
    @apply text-[#e0e0e0] bg-[#000000] m-0 select-none;
}

.top-bar {
    @apply w-[calc(100%-32px)] my-[15px] rounded-[20px] border-[#2e2e2e] mx-auto
      items-center border border-solid md:w-[65%];
    @apply bg-[#121212] p-4 shadow-md md:px-8;
}

.top-bar-content {
    @apply mx-auto flex max-w-7xl flex-col items-center justify-between md:flex-row;
}

.icon {
    @apply mr-4 mb-4 rounded-full md:mb-0;
}

.nav-links {
    @apply flex gap-5;
}

.nav-links a {
    @apply font-bold text-gray-200 no-underline transition-colors;
}

.nav-links a:hover {
    @apply text-gray-400;
}

.main-content {
    @apply mx-auto max-w-4xl flex-grow p-5 text-center;
}

.container-section {
    @apply w-[90%] max-w-[1200px] border-[#2e2e2e] rounded-2xl border border-solid;
    @apply bg-[#121212] mx-auto p-5 text-center shadow-lg backdrop-blur-sm;
}

.projects-container {
    @apply flex flex-wrap justify-center gap-7;
}

.project-card {
    @apply duration-[0.5s] transition-all hover:scale-105;
    @apply border-[#424242] rounded-2xl border border-solid;
    @apply bg-[#1e1e1e] min-w-[280px] max-w-[calc(100%/3-20px)] flex flex-col
      items-center p-5 text-center shadow-lg;
}

.project-card a,
.project-card h3 {
    @apply text-xl font-bold text-white no-underline;
}

.project-card:hover {
    @apply bg-[#292929] min-w-[280px] max-w-[calc(100%/3-20px)] flex flex-col
      items-center p-5 text-center shadow-lg;
    @apply border-[#555555] rounded-2xl border border-solid;
}

.project-description {
    @apply max-w-[200px] text-center;
}

.contact-info {
    @apply mt-6;
}

.contact-info p {
    @apply text-base;
}

.contact-info svg {
    @apply mr-2 inline h-6 w-6 text-xl text-white;
}

.contact-info a {
    @apply text-white no-underline;
}

.contact-info a:hover {
    @apply text-gray-400;
}

.underline-animation {
    @apply relative after:content-[""] after:block after:h-px after:absolute
        after:w-0 after:-translate-x-2/4 after:transition-[width] after:duration-[0.3s]
      after:left-2/4 after:bottom-0 hover:cursor-pointer hover:after:w-full;
    @apply relative inline-block font-semibold no-underline transition-colors;
}

.underline-animation::after {
    @apply bg-white;
}

.underline-animation:hover {
    @apply text-white;
}

.rounded-button {
    @apply bg-[#450778] inline-block cursor-pointer rounded-lg border-none px-6 py-3
      text-lg text-white backdrop-blur-sm transition-colors;
}

.rounded-button:hover {
    @apply bg-gray-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold;
}

h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

h4 {
    @apply text-base;
}

h5 {
    @apply text-sm;
}

h6 {
    @apply text-xs;
}

.footer {
    @apply w-[90%] mx-auto mb-4 p-2 text-center sm:w-[75%] md:w-[50%] md:p-4
      lg:w-[25%];
    @apply mt-auto;
    @apply border-[#2e2e2e] bg-[#121212] rounded-2xl border border-solid shadow-lg;
}

img {
    @apply pointer-events-none;
}
